*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Baskerville", serif;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 100vw;
  background: #d6c8b9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  overflow: hidden;
  border-top: 30px;
  border-right: 30px;
  border-bottom: 5px;
  border-left: 30px;
  
  
  
}

/*  img {
   
  display: flex;
  align: middle;
  position: middle;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

div {
  display: flex;
  height: 95%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
  
div2 {
  display: flex;
  height: 95%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
  
  
 
/* main {
  
  align-items: center;
  justify-content: center;
  height: 100vh;
} */
 
