*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Baskerville", serif;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 100vw;
  background: #d6c8b9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  overflow: hidden;
}

 img {

  align: middle;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
 
/* main {
  
  align-items: center;
  justify-content: center;
  height: 100vh;
} */
 
